.navbar{
    display: flex;
    background-color: lightblue;
    flex-direction: row;
    justify-content: space-between;
 }

.screen{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav-item{

}

.App {
    margin-top: 15px;
}

.App .navbar-brand {
    font-weight: bold;
}

.a {
    background-color: blue;
}