.navbar{
     background-color: red;
 }

.screen{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.nav-links{
    background-color: blue;
}

.App {
    margin-top: 15px;
}

.App .navbar-brand {
    font-weight: bold;
}